html, body {
  margin: 0;
  padding: 0;
}

// Navbar
.navbar {
  background-color: rgb(115, 141, 156);
}

.navbar > ul {
  margin: 0;
  padding: 0;
}

.navbar > ul > li > a{
  text-decoration: none;
}

// Content
.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  color: red;
}

// Content - Post
.post {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}

.post > img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}
